body, p, h1, ul, li, blockquote {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: 'Vollkorn', 'Georgia', serif;
}

img {
    width: 100%;
    display: block;
    border-radius: 5px;
}

ul li {
    list-style: none;
}

a {
    text-decoration: none;
}

/*GRID GERAL*/

.estrutura {
    display: grid;
    grid-template-columns: minmax(160px, 1fr) 3fr 300px;
    grid-template-areas: "header header header" "sidenav content anuncio" "footer footer footer";
}

@media (max-width: 1200px) {
    .estrutura {
        grid-template-areas: "header header header" "sidenav content content" "sidenav anuncio anuncio" "footer footer footer";
    }
}

@media (max-width: 760px) {
    .estrutura {
        grid-template-columns: 100%;
        grid-template-areas: "header" "sidenav" "content" "anuncio" "footer";
    }
}

/*HEADER*/

.header {
    grid-area: header;
    background: linear-gradient(135deg, #8844EE, #B07DFB);
    padding: 30px;
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
}

.header nav ul {
    display: flex;
    flex-wrap: wrap;
}

.header nav a {
    display: block;
    padding: 10px;
    font-size: 1.125em;
    color: #fff;
    background: rgba(0, 0, 0, .1);
    border-radius: 5px;
    transition: 0.1s;
}

.header nav a:hover {
    background: rgba(0, 0, 0, .5);
}

/*li+li = só adiciona a margin-left se o item li tiver outro li anteriormente*/

.header ul li+li {
    margin-left: 30px;
}

.logo {
    max-width: 200px;
}

@media (max-width: 760px) {
    .header {
        grid-template-columns: auto;
    }
    .logo {
        margin-bottom: 20px;
    }
    .header nav a {
        font-size: 1em;
    }
    .header ul li+li {
        margin-left: 10px;
    }
}

/*SIDENAV*/

.sidenav {
    grid-area: sidenav;
    background: #fafbfc;
    padding: 30px;
}

.sidenav ul li a {
    display: block;
    min-width: 60px;
    max-width: 100px;
    margin: 0 auto 30px auto;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    transition: .1s ease-out;
}

.sidenav ul li a:hover {
    background: #B07DFB;
}

@keyframes seta {
    from {
        right: 30px;
    }
    to {
        right: 20px;
    }
}

@media (max-width: 760px) {
    .sidenav {
        overflow-x: auto;
        -webkit-overflow-scrolling: touch;
        -ms-overflow-style: -ms-autohiding-scrollbar;
        position: relative;
    }
    .sidenav::after {
        content: "→";
        position: absolute;
        top: 5px;
        right: 30px;
        color: rgba(0, 0, 0, .3);
        animation: seta .5s ease-in 0s infinite alternate;
    }
    .sidenav ul {
        display: flex;
    }
    .sidenav ul li {
        flex: 1 0 60px;
        padding: 0 30px;
    }
    .sidenav ul li a {
        margin: 30px 30px 30px 0;
    }
}

/*CONTENT*/

.content {
    grid-area: content;
    max-width: 900px;
    margin: 0 auto;
    padding: 30px;
    gap: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
}

@media (max-width: 600px) {
    .content {
        grid-template-columns: auto;
    }
}

.titulo {
    color: #B07DFB;
}

.titulo h1 {
    font-size: 3.75em;
    line-height: 1;
    font-weight: 700;
}

.titulo span {
    font-size: 0.875em;
    font-style: italic;
}

/*Características*/

.caracteristicas {
    display: flex;
    align-items: flex-start;
}

/* "> div" -fala com as divs que estão diretamentes ligadas a caracteristicas*/

.caracteristicas span {
    display: block;
    color: #B07DFB;
}

.caracteristicas>div {
    width: 80px;
    text-align: center;
    background: linear-gradient(135deg, #8844EE, #B07DFB);
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
    position: relative;
}

/*fala somente com a primeira div diretamente ligada a caracteristicas*/

.caracteristicas>div:first-child {
    margin-right: 30px;
}

.numero {
    font-size: 3em;
    line-height: 1;
    margin: 10px auto;
}

.rotulo {
    background: #fff;
    border-radius: 0 0 5px 5px;
    padding: 5px 0;
    position: relative;
    top: 2px;
}

.destaque {
    color: #B07DFB;
    font-size: 0.875em;
    max-width: 16em;
}

.citacao, .atributos {
    align-self: start;
    /*por padrão é stretch e expande, e não queremos isso aqui*/
    background: linear-gradient(135deg, #8844EE, #B07DFB);
    padding: 30px;
    border-radius: 5px;
    box-shadow: 5px 5px 15px 0px rgba(44, 44, 44, 0.15);
}

.citacao p {
    font-size: 1.5em;
    text-align: center;
    color: #fff;
    font-style: italic;
    max-width: 500px;
    margin: 0 auto;
}

.atributos li {
    color: #fff;
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.125em;
    padding: 15px;
}

.atributos li+li {
    border-top: 2px solid #B07DFB;
}

/*pega de ponta a ponta*/

.col-wide {
    grid-column: 1 / -1;
}

.imagem-1 {
    grid-row: span 2;
    align-self: end;
}

.imagem-2 {
    align-self: end;
}

/*Estilos - content*/

p {
    font-size: 1.2em;
    line-height: 1.6;
    letter-spacing: -0.005em;
    color: rgba(0, 0, 0, 0.7);
}

.informacoes p+p {
    margin-top: 30px;
}

/*ANÚNCIOS*/

.anuncios {
    grid-area: anuncio;
    background: #fafbfc;
    display: grid;
    align-content: start;
    padding: 30px;
    gap: 30px;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

/*ÚLTIMA IMAGEM*/

.ultima-imagem {
    margin: 0 auto;
}

@media (max-width: 1200px) {
    .ultima-imagem {
        margin: 0 0;
    }
}

/*FOOTER*/

.footer {
    grid-area: footer;
    background: linear-gradient(135deg, #8844EE, #B07DFB);
}

.footer p {
    color: #fff;
    text-align: center;
    padding: 30px;
}